<!doctype html>
<html lang="en">
<head>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K4B3P5D');</script>
  <!-- End Google Tag Manager -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta charset="utf-8">

  <title>Haitian Relief Services</title>

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css"
    integrity="sha256-8CEI/ltDBxfGb0lev/b4YiRbQSPlllT89ukpFKC3Frg="
    crossorigin="anonymous" />

  <style>
    [data-type="image-modal-trigger"] {
      cursor: pointer;
    }
    @media (max-width: 480px) {
      /* hack to hide the donate button on mobile since the UX is totally broken */
      .right.menu {
        display: none !important;
      }
    }
  </style>
	<link rel="icon" href="public/favicon.ico">
</head>

<body>

  <div class="ui inverted basic segment">
    <div class="ui inverted secondary menu">
      <div class="ui container">
        <a class="item" href='#mission-statement'>Mission Statement</a>
        <a class="item" href='#projects'>Projects</a>
        <a class="item" href='#contact'>Contact</a>

        <div class="right menu">
          <div class="item">
            <a class="ui primary button" href="{{ donate-href }}" id="donate-button-menu">
              Donate
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K4B3P5D"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="ui container">
    <h1 class="ui dividing blue header">{{ header }}</h1>
    <p>{{intro}}</p>

    <img class="ui fluid bordered image" src="public/pc2.jpg">
    <h2 class="ui dividing blue header" id="mission-statement">Mission Statement</h2>
    <p>{{mission-statement-1}}</p>
    <p style="margin-left: 1em; margin-right: 1em;">
    <em>{{ mission-statement-2 }}</em>
    </p>
    </p>{{ mission-statement-3 }}</p>

    <h2 class="ui dividing blue header" id="projects">Projects</h2>

    {{#each project}}
      <h3 class="ui orange header">{{ header }}</h3>
      {{#each description}}
        <p>{{.}}</p>
      {{/each}}

      <div class="ui small images">
        {{#each image}}
          <img class="ui image" src="public/images-sm/{{ file }}" data-type="image-modal-trigger"/>
          <div class="ui basic modal">
            <i class="close icon"></i>
            <div class="header">{{ header }}</div>
            <div class="image content">
              <img class="ui image fluid" data-src="public/{{ file }}" />
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}

    <a href="public/A%20GROWING%20Proposal.docx">Download GROWIN Proposal<i class="file word outline icon"></i></a>

    <h2 id="contact" class="ui dividing blue header">Contact</h2>
    <p>Email <a href="mailto:curtiss.o.larson@uwrf.edu ">curtiss.o.larson@uwrf.edu</a></p>

    <h2 class="ui dividing blue header" id="donate">Donate</h2>
    <p>Donations are accepted through GoFundMe!</p>

    <div class="ui vertical segment">
      <a class="ui labeled icon primary button" href="{{ donate-href }}" id="donate-button-page">
        <i class="heart icon"></i>Donate
      </a>
    </div>
  </div>

  <div class="ui very padded center aligned inverted vertical segment">
    <div class="ui container">
      <i class="github icon"></i>
      <a target="_blank" href='https://github.com/tylerschloesser'>github.com/tylerschloesser</a>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"
    integrity="sha256-Z8zOlL7Qb7adkTfszqcKWybBdjBOZBY0r7DuFLZqMX8="
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {

      // setup project image modal triggers
      $('[data-type="image-modal-trigger"]').each(function() {
        var smallImage = $(this);
        var $modal = smallImage.next();
        smallImage.click(function() {
          var $largeImage = $modal.find('img')
          if (!$largeImage.attr('src')) {
            // semantic ui doesn't set the size of the modal correctly when we lazy load images :(
            // wait until the image is loaded before showing the modal.
            // bad UX on slow networks but oh well.
            $largeImage.bind('load', () => {
              $modal.modal('show');
            })
            $largeImage.attr('src', $largeImage.data('src'))
          } else {
            $modal.modal('show');
          }
        });
      });
    });
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178061116-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-178061116-1');
  </script>

</body>
</html>
